.navbar-custom{
    background-color: #56B870;
}

.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    width:350px;
    height:350px;
    margin:10px;
    transition: all 0.5s;
    box-shadow: 4px 4px 5px black;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.zone{
    background-color: #F3AAAA;
    text-align: center;
    min-height:20px;
}
